html, body{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: subpixel-antialiased;
}
#add-to-home-banner{
    visibility: hidden;
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 999;
    background: #738290;
    box-shadow: 0px -9px 10px 10px #000;
    top: 0px;
    left: 0px;
    transform: translate3d(0px,-115%,0px);
    transition: transform 500ms 100ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

#add-to-home-banner.open{
    transform: translate3d(0px,0px,0px);
}
#add-to-home-banner > button#add-to-home{
    float: right;
    height: 40px;
    margin: 5px;
    border: none;
    background: #fffcf7;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
#add-to-home-banner > button#add-to-home:hover{
    background: #a2f5ab;
}
main#main-container{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background: #ccc;
}
main#main-container > header#main-header{
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 25px;
    padding: 15px;
    background: white;
    box-shadow: 0px -5px 15px 0px #000;
}
main#main-container > header#main-header > h1{
    margin: 0px;
    font-size: 1em;
}
main#main-container > header#main-header > div#add-new-note{
    position: fixed;
    z-index: 2;
    right: 0px;
    top: 0px;
    height: 25px;
    width: 25px;
    font-size: 2em;
    padding: 15px;
    text-align: center;
    vertical-align: middle;
    line-height: 23px;
    cursor: pointer;
    transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
main#main-container > header#main-header > div#add-new-note:hover{
    background: rgba(0, 0, 0, 0.1);
}
main#main-container > section#notes{
    padding: 70px 15px 15px;
    text-align: center;
    background: #ccc;
}
main#main-container > section#notes > article.note{
    display: inline-block;
    width: 250px;
    height: 250px;
    text-align: left;
    position: relative;
    overflow: hidden;
    margin: 5px;
    background:#FFF;
    -webkit-box-shadow: 0 10px 8px -8px #777;
       -moz-box-shadow: 0 10px 8px -8px #777;
            box-shadow: 0 10px 8px -8px #777;
    cursor: pointer;
    transform: scale3d(1,1,1);
    transition: transform 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
main#main-container > section#notes > article.note.default{
    background: #EDE7D9;
}
main#main-container > section#notes > article.note.pink{
    background: #EB4B98;
}
main#main-container > section#notes > article.note.purple{
    background: #9D71E4;
}
main#main-container > section#notes > article.note.blue{
    background: #5398BE;
}
main#main-container > section#notes > article.note.yellow{
    background: #F2CD5D;
}
main#main-container > section#notes > article.note.red{
    background: #CE5374;
}
main#main-container > section#notes > article.note:hover{
    transform: scale3d(1.03,1.03,1);
}
main#main-container > section#notes > article.note > h2.note-title{
    background: rgba(0, 0, 0, 0.05);
    margin: 0px;
    padding: 10px;
    font-size: 0.8em;
}
main#main-container > section#notes > article.note > p.note-body{
    padding: 10px;
    margin: 0px;
    font-size: 0.8em;
}