<%- include part_header %>
<section>
    <header>
        <h2>Welcom to notes app</h2>
        <p>Notes reimagined! The new notes progressive web app utilizes the lastest technology to bring you the best notes app</p>
    </header>
</section>
<%- include part_footer %>