<html>
    <head>
        <title>Notes App</title>
        <meta name="description" content="Notes reimagined! The new notes progressive web app utilizes the lastest technology to bring you the best notes app">

        <meta name="theme-color" content="#000000">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="manifest.json">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">

        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="/main/main.css" type="text/css" media="all">
    </head>
    <body>
        <div id="add-to-home-banner">
            <button id="add-to-home">Add to Home</button>
        </div>
        <main id="main-container">
            <header id="main-header">
                <h1>Notes App</h1>
                <div id="add-new-note">+</div>
            </header>
            <section id="notes">
            </section>
        </main>
    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
    <script src="/main/main.js"></script>
</html>