<%- include part_header %>
    <header class="center">
        <h2>Login* using one of the options available</h2>
        <p>* if you don't have an account we will create one for you automatically</p>
    </header>
    <section class="fixed">
        <div class="login-box login-regular">
            <form action="/auth/local/" method="POST">
                <input type="text" name="email" placeholder="E-Mail" />
                <input type="password" name="password" placeholder="Password" />
                <input type="submit" value="Login" />
            </form>
        </div>
        <div class="login-box login-oauth google">
            <a href="/auth/google/">Google+</a>
        </div>
        <div class="login-box login-oauth facebook">
            <a href="/auth/facebook/">Facebook</a>
        </div>
    </section>
<%- include part_footer %>