<%- include part_header %>
    <div id="notes-toolbar">
        <div class="toolbar">
            <div id="add_new_note" class="btn">New</div>
            <div class="btn">Old</div>
        </div>
        <div class="handle">
            <span><></span>
        </div>
    </div>
    <section id="notes-container">

    </section>
<%- include part_footer %>