<title>Notes App</title>
<meta name="description" content="Notes reimagined! The new notes progressive web app utilizes the lastest technology to bring you the best notes app">

<meta name="theme-color" content="#000000">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="manifest" href="/manifest.json">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">