<nav id="main-nav">
    <% if(user){ %>
    <div class="profile_pic">
        <img src="<%=user.google.profile_pic%>" />
    </div>
    <% } %>
    <h1>Notes App</h1>
    <ul id="main-menu">
        <li><a href="/">Home</a></li>
        <% if(user){ %>
        <li><a href="/user/profile/">Profile</a></li>
        <li><a href="/notes/">Notes</a></li>
        <li><a href="/auth/logout/">Logout</a></li>
        <% }else{ %>
        <li><a href="/auth/login/">Login</a></li>
        <% } %>
    </ul>
</nav>