<html>
    <head>
        <title>rep_title</title>
        <meta name="description" content="LNC Productions is a creative video agency that offers full video production and branding services to help bring your company to life. With deep passion, tireless innovation, and established experience, we shape your ideas, to accomplish your goals.">

        <meta name="theme-color" content="#000000">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="manifest.json">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <style>
            :root{
                --note-color: #F33;
            }
        </style>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="/main/note.css" type="text/css" media="all">
    </head>
    <body data-note-id="rep_note_id">
        <main id="main-container" class="rep_color">
            <input id="note-title" value="rep_title" />
            <textarea id="note-body">rep_body</textarea>
            <div id="settings"><img src="/images/settings_icon.svg" /></div>
            <div id="color_settings">
                <div class="color default">
                    <div class="selected">
                        <img src="/images/color_selected.svg"/>
                    </div>
                </div>
                <div class="color red">
                    <div class="selected">
                        <img src="/images/color_selected.svg"/>
                    </div>
                </div>
                <div class="color pink">
                    <div class="selected">
                        <img src="/images/color_selected.svg"/>
                    </div>
                </div>
                <div class="color purple">
                    <div class="selected">
                        <img src="/images/color_selected.svg"/>
                    </div>
                </div>
                <div class="color blue">
                    <div class="selected">
                        <img src="/images/color_selected.svg"/>
                    </div>
                </div>
                <div class="color yellow">
                    <div class="selected">
                        <img src="/images/color_selected.svg"/>
                    </div>
                </div>
            </div>
        </main>
    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
    <script src="/main/note.js"></script>
</html>
